# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
*.egg-info/

# ipython/jupyter notebooks
# *.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# MacOS
*.DS_Store

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

imgui.ini

*.npy

*.png

*.jpg

*.zip

*.mp4

*.npy

*.ckpt

*.pth

*.tar

.ply

.whl

./results
./ManiSkill2_real2sim_xuanlin
SpatialAgent

images
graspnet-baseline
output

*.tar.gz

saved_variables

boost_1_71_0

plan

dlimp


*.pt

curobo

TorchSDF

torchprimitivesdf

plan


results

output


GSNet

*.ply

*.npy

*.tar


dlimp

MinkowskiEngine



screen*
note.md

SoFar
__pycache__